

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Adobe Legal Contract</title>
	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- //Meta tags -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" /><!-- Style-CSS -->
	<link href="css/font-awesome.css" rel="stylesheet"><!-- font-awesome-icons -->
</head>

<body>
	<section class="w3l-form-36">
		<div class="form-36-mian section-gap">
			<div class="wrapper">
				<div class="form-inner-cont">
					<h3>Convert to PDF</h3>
					<form action="#" method="post" class="signin-form">
						<div class="form-input">
							<span class="fa fa-file-o" aria-hidden="true"></span> <input type="file" name="file"
								 required />
						</div>
						
						<div class="login-remember d-grid">
							<button class="btn theme-button">Convert To PDF</button>
						</div>
						<div class="new-signup">
							<a href="#" class="signuplink">Supported file formats are Microsoft Office documents (Word, Excel and PowerPoint) and .txt, .rtf, .bmp, .jpeg, .gif, .tiff, .png file formats.</a>
						</div>
					</form>
					
				
				</div>

				<!-- copyright -->
				<div class="copy-right">
					<p>© 2021 Vitalis</p>
				</div>
				<!-- //copyright -->
			</div>
		</div>
	</section>
</body>

</html>